replicaCount: 3

image:
  repository: public.ecr.aws/o9g6t1r4/go-web-app
  tag: "11"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: traefik
  host: prod.go-web-app.local

